apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
      - name: {{ .Values.name }}
        image: "{{ .Values.containers.image }}:{{ .Values.containers.tag }}"
        imagePullPolicy: {{ .Values.containers.imagePullPolicy }}
        ports:
          - containerPort: {{ .Values.containers.containerPort }}
        envFrom:
          - configMapRef:
              name: {{ .Values.containers.configMapRef.name }}
        resources:
          requests:
            memory: {{ .Values.containers.resources.requests.memory }}
            cpu: {{ .Values.containers.resources.requests.cpu }}
          limits:
            memory: {{ .Values.containers.resources.limits.memory }}
            cpu: {{ .Values.containers.resources.limits.cpu }}
          
